<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>340 Your Perfect Pet Database</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>
  <body>
    <a href=./index.html>Home</a>
    <div class="row">
      <div class="container ">
        <ul class="nav justify-content-center">
           <li class="nav-item"> <a class="nav-link" href=/admin>Admin</a> </li>
          <li class="nav-item"> <a class="nav-link" href=/match> Match </a></li>
        </ul>
      </div>
    </div>

      <div class="row">
        <div class="container" style="text-align:center">
          <div id="Admin">
            <button type="button" class="btn btn-outline-secondary"> <a href='../animal'> Animal </a> </button>
            <div class="btn-group" role="group">
              <button id="btnGroupDropPeople" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                People
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDropPeople">
                <a class="dropdown-item" href='../people'> Person </a>
                <a class="dropdown-item" href='../people_location'> People_Location </a>
                <a class="dropdown-item" href='../people_species'> People_Species </a>
              </div>
            </div>
            <button type="button" class="btn btn-outline-secondary"> <a href='../location'> Location </a> </button>
            <button type="button" class="btn btn-outline-secondary"> <a href='../species'> Species </a> </button>



            <br>
          </div>
        </div>
      </div>



      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
