<!doctype html>
<html>

<head>

	<title>CS340 Pet Adoption</title>
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
		<link href="https://fonts.googleapis.com/css?family=Overlock:900&display=swap" rel="stylesheet">

</head>




<body>
	{{{body}}}

</body>
</html>
